<%= render @user %>

<div class="row">
	<div class="col-md-6 center">
		<h3>Viewed <%= @user.videos.size %> videos</h3>
		<% @user.videos.each do |video| %>
		<ul>
			<li>Video #<%= video.id %>, <%= video.title %></li>
		</ul>
		<% end %>
	</div>
</div>

<h5><%= link_to 'Return to Users Listing', users_path %></h5>